body, html {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(100deg, #a32323, #a84040); 
}

.main-title {
  font-size: 32px;
  color: #FFD700; 
  margin-bottom: 30px;
  font-weight: bold;
  margin-top: -15vh;
  margin-bottom: 10vh;
  text-align: center;
}


.loginContainer {
  background-color: white;
  padding: 30px 25px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.subtitle {
  font-size: 22px;
  margin-bottom: 20px;
  color: #800000; 
  font-weight: 600;
}

.input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 2px solid #FFD700; 
  border-radius: 10px;
  font-size: 14px;
  transition: 0.3s;
  box-sizing: border-box;
}

.input:focus {
  border-color: #FFA500;
  outline: none;
  box-shadow: 0 0 5px rgba(255, 165, 0, 0.4);
}

.submit {
  width: 100%;
  padding: 12px;
  background-color: #800000;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

.submit:hover {
  background-color: #a52a2a;
}